$BrandPrimary: #FA2E83;   //pink
$BrandSecondary: #30F7FA; //blue
$BrandTertiary: #30D62E;  //green
$DarkBlue: #2C3E50;
$MedBlue: #2980B9;
$LightBlue: #3498DB;
$Red: #E74C3C;
$Cream: #ECF0F1;
$text: #4d4d4d;
$gray: #efefef;
$LightGray: #fafafa;
$dark: #292929;
