header {
  background: white;
  border-right: 3px solid $BrandPrimary;
  z-index: 999;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  .logo {
    img {
      width: 100%;
      height: auto;
    }
    * {
      &:hover {
      }
    }
  }
  #menu-toggle {
    display: none;
    color: $BrandPrimary;
    background: transparent;
  }
  nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    li {
      list-style: none;
      &.current-menu-item {
        background-color: $BrandPrimary;
        a {
          color: $gray;
          &:hover {
            background-color: lighten($BrandPrimary, 10%);
          }
        }
      }
      a {
        display: block;
        padding: 20px;
        &:hover {
          color: white;
          background-color: $BrandPrimary;
        }
      }
    }
  }
  form {
    .input-field {
      label {
        display: block;
      }
      span {
        input {
          width: 50%;
        }
      }
      &:after {
        width: calc(50% + 20px);
      }
    }
  }
  a {
    text-decoration: none;
  }
  @media (max-width: 768px) {
    border-bottom: 3px solid $BrandPrimary;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    .logo {
      img {
        height: 55px;
        width: auto;
      }
    }
    #menu-toggle {
      display: block;
      .material-icons {
        font-size: 3em;
      }
      &:hover {
        cursor: pointer;
      }
    }
    nav {
      display: none;
      position: absolute;
      top: 58px;
      left: 0;
      background: white;
      &.active {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        a {
          text-align: center;
        }
      }
    }
    form {
      display: none;
      position: absolute;
      top: 378px;
      left: 0;
      background: white;
      border-bottom: 3px solid $BrandPrimary;
      &.active {
        display: block;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-around;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
      }
    }
  }
}
