.img-icon {
  height: 2.5em;
  width: auto;
  background: $text;
  &:hover {
    background: $BrandPrimary;
  }
}

i[class^="socicon-"] {
  color: $text;
  &:hover {
    color: $BrandPrimary;
  }
}

.socicon-stitcher {
  background-color: white;
  background-image: url(../gam/assets/images/stitcher-reverse.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  display: block;
  height: 15px;
  width: 32px;
  position: relative;
  top: -7px;
  &:hover {
    background-color: $text;
  }
}
.socicon-podomatic {
  background-color: white;
  background-image: url('../gam/assets/images/podomatic-reverse.png');
  background-size: cover;
  display: block;
  height: 32px;
  width: 32px;
  &:hover {
    background-color: $text;
  }
}
.socicon-tunein {
  background-color: white;
  background-image: url('../gam/assets/images/tunein-reverse.png');
  background-size: cover;
  display: block;
  height: 32px;
  width: 32px;
  &:hover {
    background-color: $text;
  }
}

.input-field {
  display: block;
  width: 100%;
  padding-bottom: 15px;
  &::after,
  &:after {
    content: '';
    display: block;
    width: calc(100% + 20px);
    height: 3px;
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    background-color: $BrandPrimary;
  }
  &.active {
    &:after,
    &::after {
      background-color: transparent;
      width: 0px;
      -webkit-transition: width .5s ease, background-color .5s ease;
      transition: width .5s ease, background-color .5s ease;
    }
  }
  input,
  textarea {
    padding: 10px;
    width: 100%;
  }
}
label {
  color: $BrandPrimary;
}
input,
textarea {
  border: none;
  outline: none;
  font-size: 1.3em;
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}

input[type='submit'],
.btn {
  border: none;
  outline: none;
  padding: 10px 20px 10px 20px;
  background: $BrandPrimary;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    background: darken($BrandPrimary, 10%);
    cursor: pointer;
    color: white;
  }
}

.comment-wrapper {
  &>h2 {
    padding: 8px;
  }
  .comment {
    list-style: none;
    border: 2px solid $dark;
    padding: 4px 8px;
    &.odd {
      background-color: $gray;
    }
    &.even {
      background-color: white;
    }
    .comment-author {
      img {
        display: none;
      }
    }
    .comment-body {
      p {
        margin: 10px auto;
        font-size: 1.3em;
        line-height: 1.45em;
      }
      .reply {
        margin: 15px auto;
        a {
          @extend .btn;
        }
      }
    }
    .children {
      margin-top: 15px;
      .comment {
        margin-top: 10px;
      }
    }
  }

}

.pagination {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  a {
    @extend .btn;
  }
}
